
<div class="text-align:center">
  <h1>
    {{ title }} app is running!
  </h1>

    <input *ngIf="display" [(ngModel)]="title" type="text"/>

    <button  [ngStyle]="{'background-color': 'yellow', 'color':'red'}" (click)="send($event)">Display toggle for input bar</button>
    <button (click)="title = 'Other title'">Change title</button>

    <div *ngFor="let human of humans, let i=index">
      <span [ngClass]="{'red': i%2 == 0}">
         {{human.name}} is {{human.age}} YO
      </span>
    </div>
</div>